<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container col-12 m-2">

      <h1><%- wiki.title %></h1>
      <p><%- wiki.body %></p>

    <% if(currentUser && currentUser.id == wiki.userId) { %>
      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    <% } %>

  <% if(currentUser && currentUser.id != wiki.userId) { %>
      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
    <% } %>

    <% if(currentUser) { %>
    <% if(currentUser.id === wiki.userId || (currentUser.isAdmin() || currentUser.isPremium())) { %>
      <form action="/wikis/<%= wiki.id %>/collaborators/add" method="post">
            <label for="addCollaborator">You may add collaborators to this wiki</label>
            <input style="width:300px" type="text" class="form-control" name="addCollaborator" aria-describedby="addCollaboratorHelp"
                placeholder="Enter user's email here">
        <button type="submit" class="btn btn-primary">Add Collaborator</button>
    </form>

  <h3>Collaborators</h3>
  <ul class="list-group">
    <% wiki.collaborators.forEach((collaborator) => { %>
    <li class="list-group-item">
        <%= collaborator.userId %>
        <form style="display:initial" action="/wikis/<%= wiki.id %>/collaborators/<%= collaborator.userId %>/remove" method="post">
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
    </li>
  <% }) %>
</ul>
  <% } %>
 <% } %>
</main>


    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>